#root {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.custom-vehicle-icon {
  transition: all 1s ease-in-out;
}

.leaflet-marker-icon {
  transition: transform 1s ease-in-out;
}

.leaflet-marker-icon,
.leaflet-marker-shadow {
  transition: all 1s ease-in-out;
}

.leaflet-popup {
  transition: transform 1s ease-in-out;
}

.leaflet-pane {
  z-index: 400;
}

.leaflet-overlay-pane {
  z-index: 410;
}

.leaflet-tile-pane {
  z-index: 200;
}

.leaflet-marker-pane {
  z-index: 600;
}

.leaflet-tooltip-pane {
  z-index: 650;
}

.leaflet-popup-pane {
  z-index: 700;
}

.leaflet-control {
  z-index: 800;
}
